.ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    background: #fff;
    top: 100%;
    left: 0;
    padding: 10px;
}
.ul li {
}
.ul li a {
    display: block;
    font-size: 15px;
    padding: 10px 0px;
    color: #333;
    white-space: nowrap;
}

/* Media Query */
@media screen and (max-width: 768px) {
    .ul {
        left: 100%;
        top: 0;
    }
}
