.none {
    display: none !important;
}
.block {
    display: block;
}
.navbar {
    background: #fff;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    gap: 20px;
}

/* left */
.nav {
    display: flex;
    align-items: center;
}
.nav > ul {
    display: flex;
    list-style: none;
    gap: 10px;
}
.nav > ul > li {
    position: relative;
    font-size: 20px;
    color: #333;
    display: flex;
    align-items: center;
}
.nav > ul > li > a {
    padding: 5px 10px;
    color: #111;
    cursor: pointer;
}

.smallDevice {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

/* Media Query */
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
    .nav {
        display: block;
    }
    .nav > ul {
        padding: 20px 0px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        background: #ddd;
    }
    .main {
        display: block;
    }
}
@media screen and (min-width: 768px) {
    .smallDevice {
        display: none;
    }
}
