.topbarTop {
    background-color: #ddd;
    z-index: 1;
}
.none {
    display: none;
}
.block {
    display: block;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    position: relative;
}
.left {
}
.left p {
}
.right {
    display: flex;
    gap: 10px;
}
.right > div {
    padding: 10px;
}
.language {
    border-right: 1px solid #777;
}
.currency {
    border-right: 1px solid #777;
}
.account {
}

.language,
.currency {
    position: relative;
    display: flex;
    gap: 5px;
    align-items: center;
}
.language ul,
.currency ul {
    list-style: none;
    position: absolute;
    width: 100%;
    top: 110%;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px;
    background: #fff;
    border-radius: 2px;
    border-top: 3px solid tomato;
    text-align: center;
    transition: 0.3s ease-in-out;
}
.language ul li,
.currency ul li {
    padding: 10px 0px;
}
