.item {
    display: flex;
    border-bottom: 1px solid rgba(68, 68, 68, 0.342);
    padding: 20px 0px;
    gap: 10px;
}

.item > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item .one {
    flex: 4;
}
.item .one > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item .one .iconWrapper {
    flex: 4;
}
.item .one .imgWrapper {
    flex: 8;
}

.item .two {
    flex: 8;
}
.item .two .titleWrapper {
    flex: 3;
}
.item .two .threeWrapper {
    flex: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item .two .threeWrapper > div {
    flex: 4;
    text-align: center;
}

.item p {
    text-transform: capitalize;
    font-size: 16px;
}
.iconWrapper {
}
.iconWrapper button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: 0.4s;
    cursor: pointer;
}

.imgWrapper {
}

.imgWrapper img {
    max-width: 100%;
}

.titleWrapper {
}
.titleWrapper p {
}
.priceWrapper {
}

.qtyWrapper {
}
.qtyButtons {
    display: inline-block;
    border: 1px solid rgba(68, 68, 68, 0.342);
}
.qtyButtons button {
    border: none;
    background: transparent;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 300;
    transition: 0.3s;
    cursor: pointer;
}

.subTotalWrapper {
}
.subTotalWrapper h4 {
    font-size: 20px;
}

/* Hover */

.qtyButtons button:hover {
    background-color: #fff;
}
.iconWrapper button:hover {
    background-color: #fff;
}

/* Media Query */

@media (max-width: 1200px) {
    .titleWrapper p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .item .one {
        flex: 5;
    }
    .item .two {
        flex: 7;
        flex-direction: column;
        gap: 15px;
    }
    .item .two .threeWrapper {
        width: 100%;
    }
    .titleWrapper {
        width: 100%;
        text-align: center;
    }
    .titleWrapper p {
        -webkit-line-clamp: 1;
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .item {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .item .one .iconWrapper {
        justify-content: center;
    }
    .item .one .imgWrapper {
        justify-content: flex-start;
    }

    .titleWrapper {
        width: 100%;
        text-align: center;
    }
    .titleWrapper p {
        -webkit-line-clamp: 2;
    }
}
