.alertWrapper {
    position: fixed;
    width: 400px;
    top: 100px;
    left: calc(50% - 200px);
    text-align: center;
    z-index: 9999;
}
.alertWrapper p {
    background: green;
    color: #fff;
    padding: 18px;
    border-radius: 1px;
    font-size: 20px;
}
