.categories {
    padding: 50px 0px;
}

.box {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: auto;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.item {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 3px;
}

.item div {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: burlywood;
    font-size: 25px;
    text-align: center;
    padding: 14px 0px;
    transition: 0.5s;
}
.item img {
    width: 100%;
    z-index: -1;
    transition: 0.3s;
}

/* Hover */
.item:hover img {
    transform: scale(1.1);
}

.item:hover div {
    background-color: transparent;
}

/* Media Query */
@media (max-width: 992px) {
    .item div {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .item div {
        font-size: 17px;
    }
}
@media (max-width: 650px) {
    .main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}
