.singleItem {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}
.left {
    width: 40%;
}
/* .mainImg {
    width: 555px;
    height: 555px;
    background-repeat: no-repeat;
}
.mainImg img {
    max-width: 100%;
}

.allImg {
    display: flex;
    gap: 15px;
}
.allImg div {
    width: 150px;
    height: 150px;
    border-radius: 2px;
    margin: 15px 0px;
    overflow: hidden;
}
.allImg div img {
    max-width: 100%;
} */

.right {
    width: 50%;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right .title {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.right .price {
    font-size: 26px;
}

.colors {
    margin: 20px 0px;
}
.colors > div {
    display: flex;
    gap: 10px;
}
.colors h4 {
    font-size: 17px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.colors p {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid gray;
    position: relative;
    cursor: pointer;
}
.colors p::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #fff;
}
.sizes {
    margin: 20px 0px;
}

.sizes h4 {
    font-size: 17px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.sizes > div {
    display: flex;
    gap: 10px;
}
.sizes div div {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: 1px solid #777777;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    color: #111;
    cursor: pointer;
}

.addToCart {
    display: flex;
    gap: 20px;
}

.counter {
    display: inline-block;
    border: 1px solid #777;
}
.counter button {
    border: none;
    background: transparent;
    padding: 6px 16px;
    font-size: 22px;
    font-weight: 300;
    transition: 0.3s;
    cursor: pointer;
}
.addToCart > button {
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 28px;
    background: tomato;
    color: #fff;
    border: none;
    cursor: pointer;
}

.disableButton {
    background-color: rgba(255, 99, 71, 0.438) !important;
    cursor: not-allowed !important;
}

/* Hover */

.mainImg:hover img {
    opacity: 0;
}

.counter button:hover {
    background-color: #fff;
}
