.main {
    font-size: 19px;
    text-transform: capitalize;
    color: #333;
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}

.filter {
}
.filter ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    user-select: none;
}
.filter ul li {
    padding: 5px 0px;
    width: 100px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}

.active {
    background-color: green;
}

/* Media Query */

@media (max-width: 1600px) {
    .main {
        display: flex;
        justify-content: space-between;
        margin: 30px 0px;

        flex-direction: column;
        gap: 20px;
    }
}
@media (max-width: 576px) {
    .filter ul {
        flex-wrap: wrap;
    }
}
@media (max-width: 370px) {
    .filter ul {
        gap: 10px;
    }
    .filter ul li {
        padding: 5px 0px;
        width: 80px;
    }
}
@media (max-width: 300px) {
    .filter ul {
        gap: 10px;
    }
    .filter ul li {
        padding: 5px 0px;
        width: 70px;
    }
}
