.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.form div:last-child {
    grid-column: 1/-1;
}

.form > div p {
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.form > select option {
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Media Query */

@media (max-width: 768px) {
    .form {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }
}
@media (max-width: 400px) {
    .buttons {
        flex-direction: column;
        gap: 10px;
    }
    .buttons button,
    a {
        width: 100%;
    }
}
